.userlogin_body 
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	PADDING-TOP: 0px;   
	BACKGROUND: #226cc5 repeat-x 50% top; 
	MARGIN: 12% 0px 0px; 
	FONT: 12px/150% Arial, "ו" ,Helvetica,sans-serif; 
	
	TEXT-DECORATION: none
}

.noborder
{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

.fontstyle
{
	font: 12px/150% Arial, "ו" ,Helvetica,sans-serif;
}

.TxtUserNameCssClass 
{
	BORDER-TOP-WIDTH: 0px; 
	PADDING-LEFT: 25px; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/logon/user_login_name.gif) no-repeat; 
	BORDER-BOTTOM-WIDTH: 0px; 
	WIDTH: 165px; 
	LINE-HEIGHT: 20px; 
	HEIGHT: 21px; 
	BORDER-RIGHT-WIDTH: 0px
}

.TxtPasswordCssClass 
{
	BORDER-TOP-WIDTH: 0px; 
	PADDING-LEFT: 25px; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/logon/user_login_password.gif) no-repeat; 
	BORDER-BOTTOM-WIDTH: 0px; 
	WIDTH: 165px; 
	LINE-HEIGHT: 20px; 
	HEIGHT: 21px; 
	BORDER-RIGHT-WIDTH: 0px
}

.user_top_l
{
	BACKGROUND: url(../images/logon/user_top_l.gif) no-repeat;
	WIDTH: 129px;
	/*FLOAT: left;*/
	HEIGHT: 116px;
}

.user_top_c
{
	BACKGROUND: url(../images/logon/user_top_c.gif) no-repeat;
	WIDTH: 280px;
	
	HEIGHT: 116px;
}

.user_top_r
{
	BACKGROUND: url(../images/logon/user_top_r.gif) no-repeat;
	WIDTH: 180px;

	HEIGHT: 116px;
}

.user_main_l
{
	BACKGROUND: url(../images/logon/user_main_l.gif) no-repeat;
	WIDTH: 129px;
	
	HEIGHT: 139px;
}

.user_main_c
{
	BACKGROUND: url(../images/logon/user_main_c.gif) no-repeat;
	WIDTH: 280px;
	
	HEIGHT: 139px;
}

.user_main_r
{
	BACKGROUND: url(../images/logon/user_main_r.gif) no-repeat;
	WIDTH: 180px;

	HEIGHT: 139px;
}

.user_bottom_l
{
	BACKGROUND: url(../images/logon/user_bottom_l.gif) no-repeat;
	WIDTH: 129px;
	FLOAT: left;
	HEIGHT: 130px;
}

.user_bottom_c
{
	BACKGROUND: url(../images/logon/user_bottom_c.gif) no-repeat;
	WIDTH: 280px;
	FLOAT: left;
	HEIGHT: 130px;
}

.user_bottom_r
{
	BACKGROUND: url(../images/logon/user_bottom_r.gif) no-repeat;
	WIDTH: 180px;
	FLOAT: left;
	HEIGHT: 130px;
}