@charset "UTF-8";
html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: PingFangSC-Regular, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
}

.main {
  position: relative;
  max-width: 750px;
  min-height: 100vh;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

li {
  list-style: none;
}

/*解决滑动穿透*/
body.modal-open {
  position: fixed;
  width: 100%;
}

/*input的竖线颜色*/
input, textarea {
  caret-color: #dc220d;
}

/*重置弹框按钮颜色*/
.weui-btn_primary {
  background: #dc220d;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  background: #ee6f60;
}

button.meihua-button {
  min-width: 330px;
  min-height: 49px;
  border-radius: 4px;
  margin: 0 auto 15px auto;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
}

button.button-return {
  background: #ffffff;
  color: #b71c0b;
  border: 1px solid #d8d8d8;
}

button.button-return:active {
  background: #f7f7f7;
}

button.button-fail {
  background: #ffffff;
  color: #333333;
  border: 1px solid #d8d8d8;
}

button.button-fail:active {
  background: #f7f7f7;
}

button.button-confirm {
  background: #b71c0b;
  color: #ffffff;
}

button.button-confirm:active {
  background: #E01E0B;
}

.button-radio {
  color: #333333;
}

.button-radio.selected i {
  color: #b71c0b !important;
}

.smart-check {
  min-width: 100vw;
  min-height: 100vh;
  background: #f0efef;
}
.smart-check .smart-check-content .content-title {
  background: #ffffff;
  font-size: 15px;
  color: #0c0c0e;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 15px;
}
.smart-check .smart-check-content .result-content {
  background: #ffffff;
}
.smart-check .smart-check-content .result-content .result-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}
.smart-check .smart-check-content .result-content .result-img-box img {
  width: 64px;
  height: 64px;
}
.smart-check .smart-check-content .result-content .result-img-box p {
  margin-top: 15px;
}
.smart-check .smart-check-content .result-content .result-img-box .main-text {
  color: #333333;
  font-size: 12px;
}
.smart-check .smart-check-content .result-content .result-img-box .sub-text {
  color: #999999;
  font-size: 12px;
}
.smart-check .smart-check-content .result-plus-list {
  margin-top: 15px;
}
.smart-check .smart-check-content .result-plus-list .result-plus-item {
  background: #ffffff;
  padding: 20px 30px;
}
.smart-check .smart-check-content .result-plus-list .result-plus-item .plus-title i {
  font-size: 12px;
  font-style: normal;
  position: relative;
}
.smart-check .smart-check-content .result-plus-list .result-plus-item .plus-title i:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -5px;
  width: 3px;
  height: 13px;
  background: #b71c0b;
  border-radius: 2px;
}
.smart-check .smart-check-content .result-plus-list .result-plus-item .plus-content {
  font-size: 12px;
}
.smart-check .smart-check-content .result-plus-list .result-plus-item .plus-content .money {
  color: #bc2a1a;
}
.smart-check .smart-check-content .result-button-box {
  padding-top: 19px;
}
.smart-check .footer {
  padding: 15px;
  color: #333333;
  font-size: 12px;
}

.weui-dialog__btn.primary {
  color: #5f646e;
}
